extends layout

block content

h1 category list page

ul
    each author in amit
      li
        #{author.name}
        //- a(href=author.url) #{author.name}
        //- |  (#{author.date_of_birth} - #{author.date_of_death})

    else
      li There are no authors.